*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color:rgba(207, 176, 153, 0.767);
}
.container{
    padding: 20px;   
}
#plus{
    margin: 10px;
    padding: 5px;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 100;
    font-size: 30px;
    color:rgba(236, 19, 19, 0.829);
}
.pages textarea{
    width:40%;
    height:20vh;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 100;
    padding: 5px 5px;
    margin-top: 5px;
    outline:none;  
}
.pages button{
    width:50px;
    height:30px;
    outline:none;
    border: none;
    border-radius: 5px;
    display:block;
    position:relative;
    top:2px;
    left:350px;
    bottom: 20px;
    background-color: green;
    color:yellow
   

}